[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[credential]
    helper = GIT_CREDENTIAL_HELPER
[alias]
    s = status
    sb = status -s -b
    #############
    a = add --all
    #############
    d = "!f() { output=$(git diff); if [[ -n $output ]]; then git diff -w | nvim -R -; fi; }; f"
    ds = !git --no-pager diff --shortstat
    db = "!f() { branch=${1:-origin/$(git-get-base-branch)}..HEAD; output=$(git diff $branch); if [[ -n $output ]]; then git diff -w $branch | nvim -R -; fi; }; f"
    dbs = "!f() { git --no-pager diff --shortstat ${1:-origin/$(git-get-base-branch)}..HEAD | trim; }; f"
    dt = "!f() { git difftool ${1:-origin/$(git-get-base-branch)}..HEAD; }; f"
    #############
    # see `git help log` for detailed help.
    #   %h: abbreviated commit hash
    #   %d: ref names, like the --decorate option of git-log(1)
    #   %cn: commiter name
    #   %ce: committer email
    #   %cr: committer date, relative
    #   %ci: committer date, ISO 8601-like format
    #   %an: author name
    #   %ae: author email
    #   %ar: author date, relative
    #   %ai: author date, ISO 8601-like format
    #   %s: subject
    l = log --oneline --graph --decorate
    ll  = log --graph --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%cr)%Creset %s\"
    lll = log --graph --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%ci)%Creset %C(green)%cn <%ce>%Creset %s\"
    lb = log --all --graph --decorate --oneline --simplify-by-decoration
    #############
    r = restore
    #############
    w = worktree
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[advice]
    setUpstreamFailure = false
[branch]
    sort = -committerdate
[column]
    ui = auto
[commit]
    verbose = false
[core]
    excludesfile = ~/.gitignore
[diff]
    algorithm = histrogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    tool = nvimdiff
[fetch]
    prune = true
    pruneTags = true
    all = true
[merge]
    conflictstyle = diff3
[oh-my-zsh]
    hide-info = 1
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    followTags = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[rerere]
    enabled = true
    autoupdate = true
