[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[credential]
    helper = GIT_CREDENTIAL_HELPER
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[advice]
    setUpstreamFailure = false
[branch]
    sort = -committerdate
[column]
    ui = auto
[commit]
    verbose = false
[core]
    excludesfile = ~/.gitignore
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    tool = nvimdiff
[fetch]
    prune = true
    pruneTags = true
    all = true
[init]
    defaultBranch = main
[merge]
    conflictstyle = diff3
[oh-my-zsh]
    hide-info = 1
[pull]
    rebase = true
[push]
    autoSetupRemote = true
    followTags = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[rerere]
    enabled = true
    autoupdate = true
