.DS_Store
*.zip
git/.gitconfig
git/gh-dash/config.yml
debug.log
*.tar.gz
*.gnome_installed_one_dark_theme*
Session.vim
*.deb
.tmux-save-sessions
.secretsrc
tmux/tmux-*/

zsh/completions/*
!zsh/completions/_gitw-add
docker/config.json
variables
