# GitHub search syntax:
#   https://github.com/github/docs/blob/main/content/search-github/github-code-search/understanding-github-code-search-syntax.md
prSections:
  - title: My Open PRs
    filters: is:open author:@me
    layout:
      author:
        hidden: true
  - title: My Closed PRs
    filters: is:closed author:@me
    layout:
      author:
        hidden: true
  - title: Needs My Review
    filters: is:open review-requested:@me
  - title: Mentions
    filters: is:open mentions:@me -author:@me
  - title: Involved
    filters: is:open involves:@me -author:@me
issuesSections:
  - title: My Issues
    filters: author:@me
  - title: Involved
    filters: involves:@me -author:@me
defaults:
  preview:
    open: true
    width: 70
  prsLimit: 30
  issuesLimit: 10
  view: prs
  refetchIntervalMinutes: 30
  prApproveComment: ""
repoPaths:
  default_path: ~/Workspace
keybindings:
  prs:
    - key: a
      builtin: approve
    - key: C
      name: checkout
      command: >
        clear &&
        gitw-add {{.HeadRefName}} -C ~/Workspace/{{.RepoName}}
    - key: d
      name: diff
      command: >
        clear && gh pr diff {{.PrNumber}} -R {{.RepoName}} 2>&1 | nvim -R -
    - key: D
      name: difftool
      command: >
        clear && gitw-add {{.HeadRefName}} "git difftool -d {{.HeadRefName}} origin/{{.BaseRefName}}" -C ~/Workspace/{{.RepoName}}
    - key: E
      name: review
      command: >
        clear &&
        gitw-add {{.HeadRefName}} "git-pr-review '{{.PrNumber}}'" -C ~/Workspace/{{.RepoName}}
    - key: T
      name: open ticket url
      command: >
        clear &&
        open $BASE_TICKETS_URL$(get-ticket-number {{.HeadRefName}})
    - key: R
      name: rebase with base
      command: >
        clear &&
        gitw-add {{.HeadRefName}} "gitw-rebase {{.BaseRefName}} && git push --force" -C ~/Workspace/{{.RepoName}}
    - key: M
      name: merge with base
      command: >
        clear &&
        gitw-add {{.HeadRefName}} "gitw-merge {{.BaseRefName}} && git push" -C ~/Workspace/{{.RepoName}}
  issues: []
pager:
  diff: less
confirmQuit: true
theme:
  ui:
    table:
      compact: false
      showSeparator: true
  colors:
    text:
      primary: "#a0a8b7"
      secondary: "#7a818e"
      inverted: "#0e1013"
      faint: "#7a818e"
      warning: "#e55561"
      success: "#98c379"
    background:
      selected: "#272731"
    border:
      primary: "#31353f"
      secondary: "#31353f"
      faint: "#31353f"
