[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[credential]
    helper = GIT_CREDENTIAL_HELPER
[alias]
    s = status
    sb = status -s -b
    #############
    a = add --all
    #############
    d = diff
    ds = !git --no-pager diff --shortstat
    db = "!f() { git diff $(git branch -r | grep -Ei \"${1:-origin/(main|master)}\")..HEAD; }; f"
    dbs = "!f() { git --no-pager diff --shortstat $(git branch -r | grep -Ei \"${1:-origin/(main|master)}\")..HEAD; }; f"
    dt = "!f() { git difftool $(git branch -r | grep -Ei \"${1:-origin/(main|master)}\")..HEAD; }; f"
    #############
    # see `git help log` for detailed help.
    #   %h: abbreviated commit hash
    #   %d: ref names, like the --decorate option of git-log(1)
    #   %cn: commiter name
    #   %ce: committer email
    #   %cr: committer date, relative
    #   %ci: committer date, ISO 8601-like format
    #   %an: author name
    #   %ae: author email
    #   %ar: author date, relative
    #   %ai: author date, ISO 8601-like format
    #   %s: subject
    l = log --oneline --graph --decorate
    ll  = log --graph --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%cr)%Creset %s\"
    lll = log --graph --pretty=format:\"%C(auto)%h%d%Creset %C(cyan)(%ci)%Creset %C(green)%cn <%ce>%Creset %s\"
    lb = log --all --graph --decorate --oneline --simplify-by-decoration
    #############
    w = worktree
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[core]
    pager = delta
    excludesfile = ~/.gitignore
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true # use n and N to move between diff sections

    ; From: https://github.com/dandavison/delta/issues/481#issuecomment-752948987
    syntax-theme = OneHalfDark
    line-numbers = true
    side-by-side = false
    hunk-header-style = file line-number syntax
    file-style = magenta omit
    file-modified-label = modified:
    hunk-header-decoration-style = bold black omit
    zero-style                    = dim syntax
    minus-style                   = syntax "#450a15"
    minus-non-emph-style          = syntax "#450a15"
    minus-emph-style              = syntax "#600818"
    minus-empty-line-marker-style = normal "#3f0001"
    plus-style                    = syntax "#083618"
    plus-non-emph-style           = syntax "#083618"
    plus-emph-style               = syntax "#175c2e"
    plus-empty-line-marker-style  = normal "#002800"
    whitespace-error-style        = reverse red
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
    tool = nvimdiff
[push]
    autoSetupRemote = true
[pull]
    rebase = true
[oh-my-zsh]
    hide-info = 1
[advice]
    setUpstreamFailure = false
