[include]
    path = ~/themes.gitconfig
[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[credential]
    helper = GIT_CREDENTIAL_HELPER
[alias]
    a = add --all
    #############
    d = diff
    db = !git diff $(git branch -r | grep -Ei 'origin/(main|master)')..HEAD
    dt = difftool
    dtb = !git difftool $(git branch -r | grep -Ei 'origin/(main|master)')..HEAD
    #############
    l = log --oneline --graph --decorate
    #############
    w = worktree
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[core]
    pager = less
    excludesfile = ~/.gitignore
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
    tool = nvimdiff
[push]
    autoSetupRemote = true
[pull]
    rebase = true
[oh-my-zsh]
    hide-info = 1
[advice]
    setUpstreamFailure = false
