.DS_Store
.watchman*
.hg
.svn
.git
*.vscode
node_modules
.venv
*.pyc
pyrightconfig.json
.vim

# Temporary files
*.swp
*.swo
*~
Session.vim
git-pr-create.*.md
git-pr-edit.*.md

# Files with this extension are getting generated for some reason.
# I think it might be an LSP failing to format a file and it just
# dumps the file contents to disk in case you need it.
*.py-e
*.go-e

# File used to cache the base branch for a repo as getting this value
# dynamically all the time can be slow
.base_branch

# File used by the dmypy daemon
.dmypy.json
